* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f6f6f6;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}
@media screen and (min-width: 998px) {
  .container {
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
#content {
  margin-top: 30px;
  padding-bottom: 60px;
}
.navbar-outer {
  background-color: #428bca;
}
.navbar-outer nav {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}
@media screen and (min-width: 998px) {
  .navbar-outer nav {
    width: 980px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-outer nav {
    width: 1170px;
  }
}
.navbar-outer nav .nav-item.brand {
  color: #ffffff;
}
.navbar-outer nav .nav-item.brand:hover {
  background-color: #428bca;
}
.navbar-outer nav .nav-item {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: #e8e8e8;
  text-decoration: none;
  font-weight: bolder;
}
.navbar-outer nav .nav-item.active,
.navbar-outer nav .nav-item:hover {
  background-color: #357ebd;
  color: #ffffff;
}
.navbar-outer nav .nav-item.active:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -7px;
  vertical-align: middle;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f6f6f6;
  border-left: 7px solid transparent;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  float: none;
  clear: both;
}
.afterclear:after {
  clear: both;
  content: " ";
  display: table;
}
.col-1 {
  float: left;
  width: 8.33333333%;
}
.col-2 {
  float: left;
  width: 16.66666667%;
}
.col-3 {
  float: left;
  width: 25%;
}
.col-4 {
  float: left;
  width: 33.33333333%;
}
.col-5 {
  float: left;
  width: 41.66666667%;
}
.col-6 {
  float: left;
  width: 50%;
}
.col-7 {
  float: left;
  width: 58.33333333%;
}
.col-8 {
  float: left;
  width: 66.66666667%;
}
.col-9 {
  float: left;
  width: 75%;
}
.col-10 {
  float: left;
  width: 83.33333333%;
}
.col-11 {
  float: left;
  width: 91.66666667%;
}
.col-12 {
  float: left;
  width: 100%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  clear: both;
  content: " ";
  display: table;
}
.pannel {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.pannel:after {
  clear: both;
  content: " ";
  display: table;
}
.pannel .pannel-heading {
  background-color: #fafafa;
  border-bottom: 1px solid #d8d8d8;
  font-weight: bold;
  color: #333333;
  padding: 15px 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.pannel .pannel-heading small {
  color: #999999;
}
.pannel .pannel-heading a {
  color: #666666;
  text-decoration: none;
}
.pannel .pannel-heading a:hover {
  color: #333333;
  text-decoration: underline;
}
.pannel .pannel-body {
  padding: 15px 20px;
}
.pannel .pannel-body .document a {
  color: #666666;
  text-decoration: none;
}
.pannel .pannel-body .document a:hover {
  text-decoration: underline;
  color: #333333;
}
.pannel .pannel-body .document a.footnote-reference {
  vertical-align: super;
  font-size: 0.8em;
}
.pannel .pannel-body .document h1 {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
}
.pannel .pannel-body .document h2 {
  font-size: 1.1em;
  margin-top: 20px;
  text-align: center;
}
.pannel .pannel-body .document h3 {
  font-size: 1.0em;
  margin-top: 20px;
  text-align: center;
}
.pannel .pannel-body .document p {
  margin-top: 10px;
  text-indent: 1.2em;
  text-align: justify;
}
.pannel .pannel-body .document ol,
.pannel .pannel-body .document ul {
  margin-left: 40px;
  margin-top: 10px;
}
.pannel .pannel-body .document ol li,
.pannel .pannel-body .document ul li {
  margin-top: 5px;
}
.pannel .pannel-body .document ol li p,
.pannel .pannel-body .document ul li p,
.pannel .pannel-body .document ol li ol,
.pannel .pannel-body .document ul li ol,
.pannel .pannel-body .document ol li ul,
.pannel .pannel-body .document ul li ul {
  margin-top: 0;
  text-indent: 0;
}
.pannel .pannel-body .document pre {
  margin: 10px auto 0;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 10px;
  width: 80%;
}
.pannel .pannel-body .document table,
.pannel .pannel-body .document th,
.pannel .pannel-body .document tr,
.pannel .pannel-body .document td {
  border: 0;
}
.pannel .pannel-body .document table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
.pannel .pannel-body .document table tr {
  border-bottom: 1px solid #d8d8d8;
  text-align: left;
}
.pannel .pannel-body .document table th,
.pannel .pannel-body .document table td {
  padding: 5px;
}
.pannel .pannel-body .document table.footnote tr {
  border: 0;
}
.pannel .pannel-body .document dl {
  margin-top: 20px;
}
.pannel .pannel-body .document dl dt {
  margin-left: 1.2em;
  margin-top: 10px;
}
.pannel .pannel-body .document dl dd {
  margin-left: 2em;
}
.pannel .pannel-body .document .tip {
  margin: 10px auto;
  width: 80%;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #f6f6f6;
}
.pannel .pannel-body .document .tip p {
  margin: 0;
  padding: 10px;
}
.pannel .pannel-body .document .tip .admonition-title {
  font-weight: bold;
  font-size: 1.1em;
}
.pannel .pannel-body .document blockquote {
  font-size: 17.5px;
  padding: 10px 20px;
  border-left: 6px solid #d8d8d8;
  margin-left: 20px;
}
.pannel .pannel-body .document blockquote p {
  margin: 0;
}
.pannel .pannel-body .document blockquote p.attribution {
  font-size: 80%;
  text-align: left;
  font-style: italic;
  color: #777777;
  margin-top: 10px;
}
.paginator a {
  display: block;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  color: #666666;
  text-decoration: none;
  font-size: 0.8em;
}
.paginator .prev-page {
  float: left;
}
.paginator .next-page {
  float: right;
}
.paginator:after {
  clear: both;
  content: " ";
  display: table;
}
#footer {
  padding: 15px 20px;
  height: 40px;
  border-top: 1px #d8d8d8 solid;
  background-color: #ffffff;
}
#footer .copyright {
  font-size: 12px;
  color: #999999;
  text-align: center;
}
